# Node modules
**/node_modules

# Git
.git
.gitignore

# IDE/editor
.vscode
*.swp
*.swo
*.sublime*
.idea/

# Env & logs
.env*
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
